{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-6 mx-auto my-3">
            {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialiser le mot de passe  </h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre email pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-warning">Envoyer</button>
    {{ form_end(requestForm) }}</div>
        </div>
    </div>
    

{% endblock %}
