{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-6 mx-auto my-3">
    <h1>Réinitialisation du mot de passe </h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-warning">Réinitialiser mon mot de passe</button>
    {{ form_end(resetForm) }}
    </div>
    </div>
    </div>
{% endblock %}
