{% extends 'base.html.twig' %}

{% block title %}Conditions générales
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<boilerplate _ngcontent-c11="" _nghost-c13="" class="hide">
					<div _ngcontent-c13="" class="boilerWrapper">
						<div _ngcontent-c13="" class="boiler" id="boiler">
							<div _ngcontent-c13=""></div>
							<ng-component _nghost-c22="">
								<p _ngcontent-c22="" dir="ltr" style="text-align: center;">
									<span _ngcontent-c22="" style="display: none;">&nbsp;</span>
									<span _ngcontent-c22="" style="font-size:20px;">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<strong _ngcontent-c22="">
												<span _ngcontent-c22="" style="font-style: normal;">Conditions générales d'utilisation</span>
											</strong>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr" style="text-align: center;">
									<span _ngcontent-c22="" style="font-size:20px;">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<strong _ngcontent-c22="">
												<span _ngcontent-c22="" style="font-style: normal;">du site&nbsp;</span>
											</strong>
										</span>
										<span _ngcontent-c22="" style="font-style: normal;">
											<span _ngcontent-c22="" class="boiler-field">Yadelair.fr</span>
										</span>
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<strong _ngcontent-c22="">
												<span _ngcontent-c22="" style="font-style: normal;">&nbsp;</span>
											</strong>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="">&nbsp;</p>

								<p _ngcontent-c22="">&nbsp;</p>

								<p _ngcontent-c22="">
									<span _ngcontent-c22="" style="display: none;">&nbsp;</span>
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<strong _ngcontent-c22="">
											<span _ngcontent-c22="" style="font-style: normal;">Préambule
											</span>
										</strong>
									</span>
								</p>

								<p _ngcontent-c22="">Les présentes conditions générales d'utilisation sont&nbsp;conclues entre :</p>

								<p _ngcontent-c22="" style="">
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="">
											<span _ngcontent-c22="" style="color:black">- le gérant du site internet, ci-après désigné «&nbsp;l’Éditeur&nbsp;»,</span>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="" style="">
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="">
											<span _ngcontent-c22="" style="color:black">- toute personne souhaitant accéder au site et à ses services, ci-après appelé «&nbsp;l’Utilisateur&nbsp;».</span>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="" style="">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="">
										<strong _ngcontent-c22="">
											<span _ngcontent-c22="" style="font-style: normal;">Article 1 - Principes</span>
										</strong>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="font-style: normal;">Les présentes conditions générales d'utilisation
										</span>
									</span>
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="">
											<span _ngcontent-c22="" style="color:black">ont pour objet l'encadrement juridique de l’utilisation du site</span>
										</span>
									</span>
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="font-style: normal;">
											<span _ngcontent-c22="" style="font-style: normal;">&nbsp;</span>
											<span _ngcontent-c22="" class="boiler-field">Yadelair.fr</span>&nbsp;et de ses services.</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<span _ngcontent-c22="" style="font-style: normal;">Le site Internet
											<span _ngcontent-c22="" class="boiler-field">https://yadelair.fr/</span>
											est un service de :
										</span>
									</span>
								</p>

								<ul _ngcontent-c22="">
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<span _ngcontent-c22="" style="font-style: normal;"><!----><span _ngcontent-c22="" rl-text="content1">La société
												</span><!----><!---->&nbsp;<span _ngcontent-c22="" class="boiler-field">Labconseil</span>
											</span>
										</span>
									</li>
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">située&nbsp;<span _ngcontent-c22="" style="font-style: normal;">
												<span _ngcontent-c22="" class="boiler-field">16 chemin du cade
												</span>&nbsp;<span _ngcontent-c22="" class="boiler-field">30340 Mons</span>
											</span>
											<span _ngcontent-c22="" style="font-style: normal;">,&nbsp;<span _ngcontent-c22="" class="boiler-field">France</span>
											</span>
										</span>
									</li>
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<span _ngcontent-c22="" style="font-style: normal;">adresse URL du site :&nbsp;<span _ngcontent-c22="" class="boiler-field">https://yadelair.fr/</span>
											</span>
										</span>
									</li>
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">e-mail :&nbsp;<span _ngcontent-c22="" class="boiler-field">yriche@lab-conseil.fr</span>
										</span>
									</li>
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<span _ngcontent-c22="" style="font-style: normal;">numéro de téléphone :&nbsp;<span _ngcontent-c22="" class="boiler-field">06 17 17 17 26</span>
											</span>
										</span>
									</li>
								</ul>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" lang="EN-US" style="">
										<span _ngcontent-c22="" style="">Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<strong _ngcontent-c22="">
											<span _ngcontent-c22="" style="font-style: normal;">Article 2&nbsp;- Evolution et durée des CGU</span>
										</strong>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<span _ngcontent-c22="" style="font-style: normal;">Les présentes conditions générales d'utilisation sont conclues pour une durée indéterminée.&nbsp;</span>
									</span>
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="">
											<span _ngcontent-c22="" style="color:black">Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.</span>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="">
											<span _ngcontent-c22="" style="color:black">Le site
												<span _ngcontent-c22="" class="boiler-field">Yadelair.fr</span>&nbsp;se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.</span>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="" style="">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<strong _ngcontent-c22="">
											<span _ngcontent-c22="" style="font-style: normal;">Article 3 - Accès au site</span>
										</strong>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="">
											<span _ngcontent-c22="" style="color:black">Tout Utilisateur ayant accès à&nbsp;internet peut accéder gratuitement et depuis n’importe où au site
												<span _ngcontent-c22="" class="boiler-field">Yadelair.fr</span>
											</span>
										</span>
									</span>
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="">
											<span _ngcontent-c22="" style="color:black">. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.</span>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="" style="">
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="">
											<span _ngcontent-c22="" style="color:black">Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.</span>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="" style="">L'Utilisateur du site&nbsp;a accès aux services suivants :&nbsp;<span _ngcontent-c22="" class="boiler-field">Photos</span>.</p>

								<!---->

								<p _ngcontent-c22="" style="">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="color:#000000;">
										<strong _ngcontent-c22="">
											<span _ngcontent-c22="" style="font-style: normal;">Article 4&nbsp; - Responsabilités&nbsp;</span>
										</strong>
									</span>
								</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">La responsabilité de l'Éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l'accès au site ou à une de ses fonctionnalités.</span>
								</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">Le matériel de connexion au site utilisée&nbsp;est sous l'entière responsabilité de l'Utilisateur qui doit prendre toutes les mesures appropriées pour protéger le&nbsp;matériel et les&nbsp;données notamment d'attaques virales par Internet. L'utilisateur est&nbsp;par ailleurs le seul responsable des sites et données qu'il consulte.</span>
								</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">&nbsp;</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">L'Éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à l'encontre de l'Utilisateur&nbsp;:</span>
								</p>

								<div _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">-&nbsp;&nbsp;du fait de l'usage du site ou de tout service accessible&nbsp;<i _ngcontent-c22="" style="">via</i>&nbsp;Internet&nbsp;;</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">-&nbsp;&nbsp;du fait du non-respect par l'Utilisateur&nbsp;des présentes conditions générales.</span>
									</p>
								</div>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">&nbsp;</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">L'Éditeur n'est pas responsable des dommages causés à l'Utilisateur, à des tiers et/ou à l'équipement de l'Utilisateur du fait de sa&nbsp;connexion ou de son&nbsp;utilisation du site et l'Utilisateur&nbsp;renonce&nbsp;à toute action contre l'Éditeur&nbsp;de ce fait.</span>
								</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">Si l'Éditeur venait à faire l'objet d'une procédure amiable ou judiciaire à raison de &nbsp;l'utilisation du site par&nbsp;l'Utilisateur, il pourra retourner contre lui&nbsp;pour obtenir indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.</span>
								</p>

								<!---->
								<div _ngcontent-c22="" rl-text="content1">
									<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">&nbsp;</p>

									<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
										<span _ngcontent-c22="" style="color:#000000;">Il est permis à l'Utilisateur&nbsp;de publier sur le site&nbsp;</span>
										<span _ngcontent-c22="" style="">
											<span _ngcontent-c22="" style="">
												<span _ngcontent-c22="" style="color:black">
													<span _ngcontent-c22="" class="boiler-field">Yadelair.fr</span>
												</span>
											</span>
										</span>
										<span _ngcontent-c22="" style="color:#000000;">&nbsp;:</span>
									</p>

									<!---->

									<!---->
									<div _ngcontent-c22="" rl-text="content5">
										<p _ngcontent-c22="">
											<span _ngcontent-c22="" style="color:#000000;">- des textes ;</span>
										</p>
									</div>

									<!---->
									<div _ngcontent-c22="" rl-text="content6">
										<p _ngcontent-c22="">- des photos ;</p>
									</div>

									<!---->
									<div _ngcontent-c22="" rl-text="content8">
										<p _ngcontent-c22="">- des vidéos ;</p>
									</div>

									<p _ngcontent-c22=""><!----></p>
								</div>

								<!---->
								<div _ngcontent-c22="" rl-text="content12">
									<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">&nbsp;<span _ngcontent-c22="" style="color:#000000;">L'Utilisateur&nbsp;s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications soient modérées ou refusées par l’Éditeur, sans obligation de justification.
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé.</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" lang="EN-US">L’Éditeur s'engage toutefois à citer le membre en cas d’utilisation de&nbsp; sa publication.</span>
										</span>
									</p>
								</div>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">&nbsp;</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">
										<strong _ngcontent-c22="">
											<span _ngcontent-c22="" style="font-style: normal;">Article 5&nbsp; - Propriété intellectuelle</span>
										</strong>
									</span>
								</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">Tous les documents techniques, produits, photographies, textes, logos, dessins, vidéos, etc.,&nbsp;sont soumis à des droits d'auteur et sont protégés par le Code de la propriété intellectuelle.&nbsp;Lorsqu'ils sont&nbsp;remis à nos clients, ils demeurent la propriété exclusive de&nbsp;<span _ngcontent-c22="" style="font-style: normal;">
											<span _ngcontent-c22="" class="boiler-field">Labconseil</span>
										</span>, seul titulaire des droits de propriété intellectuelle sur ces documents, qui doivent lui être rendus à sa demande.</span>
								</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">Nos clients s'engagent à ne faire aucun usage de ces documents, susceptible de porter atteinte aux droits de propriété industrielle ou intellectuelle du fournisseur et s'engagent à ne les divulguer à aucun tiers, en dehors d'une autorisation expresse et préalable donnée par l'Editeur.</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="color:#000000;">
										<strong _ngcontent-c22="">
											<span _ngcontent-c22="" style="font-style: normal;">Article 6&nbsp; - Liens hypertextes</span>
										</strong>
									</span>
								</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">La mise en place par l'Utilisateur&nbsp;de tous liens hypertextes vers tout ou partie du site est strictement interdite, sauf autorisation préalable et écrite de l'Éditeur, sollicitée par courriel à l'adresse suivante&nbsp;:
										<span _ngcontent-c22="" class="boiler-field">yriche@lab-conseil.fr</span>.</span>
								</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">L'Éditeur est libre de refuser cette autorisation sans avoir à justifier de quelque manière que ce soit sa décision. Dans le cas où l'Éditeur accorderait son autorisation, celle-ci n'est dans tous les cas que temporaire et pourra être retirée à tout moment, sans obligation de justification à la charge de l'Éditeur.</span>
								</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">Dans tous les cas, tout lien devra être retiré sur simple demande de l'Éditeur.</span>
								</p>

								<p _ngcontent-c22="" style="color: rgb(93, 99, 122); font-style: normal; text-align: start;">
									<span _ngcontent-c22="" style="color:#000000;">Toute information accessible&nbsp;<i _ngcontent-c22="" style="">via</i>&nbsp;un lien vers d'autres sites n'est pas sous le contrôle de l'Éditeur qui décline toute responsabilité quant à leur contenu.</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<strong _ngcontent-c22="">Article 7&nbsp;- Protection des données personnelles</strong>
									</span>
								</p>

								<p _ngcontent-c22="">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<em _ngcontent-c22="">
											<u _ngcontent-c22="">
												<strong _ngcontent-c22="">
													<span _ngcontent-c22="" style="font-style: normal; text-align: left;">Données collectées&nbsp;</span>
												</strong>
											</u>
										</em>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<em _ngcontent-c22="">
											<span _ngcontent-c22="" style="font-style: normal; text-align: left;">Les données à caractère personnel qui sont collectées sur ce site&nbsp;sont les suivantes&nbsp;:</span>
										</em>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<b _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">- ouverture de compte :</b>
										<b _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;"></b>
										<span _ngcontent-c22="" style="font-style: normal; text-align: left;">lors de la création du compte de l'utilisateur :&nbsp;<!----><span _ngcontent-c22="" rl-text="content10">nom&nbsp;;</span><!----><span _ngcontent-c22="" rl-text="content10">&nbsp;prénom ;</span><!----><span _ngcontent-c22="" rl-text="content10">&nbsp;adresse électronique ;</span><!----><!----></span>&nbsp;
									<!---->
										<!---->
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<b _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">- connexion :
										</b>
										<span _ngcontent-c22="" style="font-style: normal; text-align: left;">lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses nom, prénom, données de connexion, d'utilisation, de localisation et ses données relatives au paiement ;</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<b _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">- profil :</b>
										<b _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;"></b>
										<span _ngcontent-c22="" style="font-style: normal; text-align: left;">l'utilisation des prestations prévues sur le site web&nbsp;permet de renseigner un profil, pouvant comprendre une adresse et un numéro de téléphone ;</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<b _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">- paiement :
										</b>
										<span _ngcontent-c22="" style="font-style: normal; text-align: left;">dans le cadre du paiement des produits et prestations proposés sur le site web, celui-ci enregistre des données financières relatives au compte bancaire ou à la carte de crédit de l'utilisateur ;</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<b _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">- communication :
										</b>
										<span _ngcontent-c22="" style="font-style: normal; text-align: left;">lorsque le site web&nbsp;est utilisé&nbsp;pour communiquer avec d'autres membres, les données concernant les communications de l'utilisateur font l'objet d'une conservation temporaire ;</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
										<b _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">- cookies :</b>
										<span _ngcontent-c22="" style="font-style: normal; text-align: left;">&nbsp;les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur.</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<u _ngcontent-c22="" style="font-family: &quot;Times New Roman&quot;, Times, serif;">
										<strong _ngcontent-c22="">Utilisation des données personnelles&nbsp;</strong>
									</u>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="color:#000000;">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<span _ngcontent-c22="" style="font-style: normal; text-align: left;">Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des services du site web, leur amélioration et le maintien d'un environnement sécurisé. Plus précisément, les utilisations sont les suivantes&nbsp;:</span>
										</span>
									</span>
								</p>

								<div _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">
									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;accès et utilisation du site web&nbsp;par l'utilisateur&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;gestion du fonctionnement et optimisation du site web&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;organisation des conditions d'utilisation des Services de paiement&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;vérification, identification et authentification des données transmises par l'utilisateur&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;proposition à l'utilisateur de la possibilité de communiquer avec d'autres utilisateurs du site web&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;mise en oeuvre d'une assistance utilisateurs&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;personnalisation des services en affichant des publicités en fonction de l'historique de navigation de l'utilisateur, selon ses préférences&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et gestion des incidents de sécurité&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;gestion des éventuels litiges avec les utilisateurs&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur.<br _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">
												<br _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">
												<strong _ngcontent-c22="">
													<u _ngcontent-c22="">
														<span _ngcontent-c22="" style="font-style: normal; text-align: left;">Partage des données personnelles avec des tiers</span>
													</u>
												</strong>
											</span>
										</span>
									</p>
								</div>

								<p _ngcontent-c22="">
									<span _ngcontent-c22="" style="color:#000000;">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<span _ngcontent-c22="" style="font-style: normal; text-align: left;">Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants&nbsp;:</span>
										</span>
									</span>
								</p>

								<div _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">
									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;</span>
											<span _ngcontent-c22="" style="">lorsque</span>
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
												l'Utilisateur utilise les services de paiement, pour la mise en oeuvre de ces services, le site web&nbsp;est en relation avec des sociétés bancaires et financières tierces avec lesquelles elle a passé des contrats&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;lorsque l'Utilisateur publie, dans les zones de commentaires libres du site web, des informations accessibles au public&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;</span>
											<span _ngcontent-c22="" style="">lorsque</span>
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
												l'Utilisateur autorise le site web d'un tiers à accéder à ses données&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;</span>
											<span _ngcontent-c22="" style="">lorsque</span>
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
												le site web&nbsp;recourt aux services de prestataires pour fournir l'assistance utilisateurs, la publicité et les services de paiement. Ces prestataires disposent d'un accès limité aux données de l'utilisateur, dans le cadre de l'exécution de ces prestations, et ont une obligation contractuelle de les utiliser en conformité avec les dispositions de la réglementation applicable en matière protection des données à caractère personnel&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;si la loi l'exige, le site web&nbsp;peut effectuer la transmission de données pour donner suite aux réclamations présentées contre le site web&nbsp;et se conformer aux procédures administratives et judiciaires&nbsp;;</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">-&nbsp;&nbsp;si le site web&nbsp;est impliquée dans une opération de fusion, acquisition, cession d'actifs ou procédure de redressement judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y compris les données à caractère personnel. Dans ce cas, les utilisateurs seraient informés, avant que les données à caractère personnel ne soient transférées à une tierce partie.<br _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">
												<br _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">
												<u _ngcontent-c22="">
													<strong _ngcontent-c22="">
														<span _ngcontent-c22="" style="font-style: normal; text-align: left;">Sécurité et confidentialité</span>
													</strong>
												</u>
											</span>
										</span>
									</p>

									<p _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
												<span _ngcontent-c22="" style="font-style: normal; text-align: left;">Le site web&nbsp;met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois, il est à signaler qu'internet n'est pas un environnement complètement sécurisé et le site web&nbsp;ne peut pas garantir la sécurité de la transmission ou du stockage des informations sur internet.</span>
											</span>
										</span>
									</p>
								</div>

								<p _ngcontent-c22=""><br _ngcontent-c22="" style="color: rgb(51, 51, 51); font-style: normal; text-align: left;">
									<span _ngcontent-c22="" style="color:#000000;">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<u _ngcontent-c22="">
												<strong _ngcontent-c22="">
													<span _ngcontent-c22="" style="font-style: normal; text-align: left;">Mise en oeuvre des droits des utilisateurs</span>
												</strong>
											</u>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="">
									<span _ngcontent-c22="" style="color:#000000;">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<span _ngcontent-c22="" style="font-style: normal;">En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits suivants, qu'ils peuvent exercer en faisant leur demande à l'adresse suivante :&nbsp;<span _ngcontent-c22="" class="boiler-field">yriche@lab-conseil.fr</span>.</span>
										</span>
									</span>
								</p>

								<ul _ngcontent-c22="" style="">
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
												<span _ngcontent-c22="" style="font-style: normal;">le droit d’accès&nbsp;: ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant.&nbsp;Dans ce cas, avant la mise en œuvre de ce droit, le site web&nbsp;peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitude.
												</span>
											</span>
										</span>
									</li>
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
												<span _ngcontent-c22="" style="font-style: normal;">le droit de rectification&nbsp;: si les données à caractère personnel détenues par le site web&nbsp;sont inexactes, ils peuvent demander la mise à jour des informations.</span>
											</span>
										</span>
									</li>
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
												<span _ngcontent-c22="" style="font-style: normal;">le droit de suppression des données&nbsp;: les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données.
												</span>
											</span>
										</span>
									</li>
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
												<span _ngcontent-c22="" style="font-style: normal;">le droit à la limitation du traitement&nbsp;: les utilisateurs peuvent de demander au site web&nbsp;de limiter le traitement des données personnelles conformément aux hypothèses prévues par le RGPD.
												</span>
											</span>
										</span>
									</li>
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
												<span _ngcontent-c22="" style="font-style: normal;">le droit de s’opposer au traitement des données&nbsp;: les utilisateurs peuvent s’opposer à ce que ses données soient traitées conformément aux hypothèses prévues par le RGPD. &nbsp;</span>
											</span>
										</span>
									</li>
									<li _ngcontent-c22="">
										<span _ngcontent-c22="" style="color:#000000;">
											<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
												<span _ngcontent-c22="" style="font-style: normal;">le droit à la portabilité&nbsp;: ils peuvent réclamer que le site web&nbsp;leur remette les données personnelles qui lui sont fournies pour les transmettre à un nouveau site web.</span>
											</span>
										</span>
									</li>
								</ul>

								<p _ngcontent-c22="">
									<span _ngcontent-c22="" style="color:#000000;">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<u _ngcontent-c22="">
												<strong _ngcontent-c22="">
													<span _ngcontent-c22="" style="font-style: normal; text-align: left;">Evolution de la présente clause</span>
												</strong>
											</u>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="">
									<span _ngcontent-c22="" style="color:#000000;">
										<span _ngcontent-c22="" style="font-family:Times New Roman,Times,serif;">
											<span _ngcontent-c22="" style="font-style: normal; text-align: left;">Le site web&nbsp;se réserve le droit d'apporter toute modification à la présente clause relative à la protection des données à caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection des données à caractère personnel, le site web&nbsp;s'engage à publier la nouvelle version sur son site. Le site web&nbsp;informera également les utilisateurs de la modification par messagerie électronique, dans un délai minimum de 15&nbsp;jours avant la date d'effet. Si l'utilisateur n'est pas d'accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère personnel, il a la possibilité de supprimer son compte.</span>
										</span>
									</span>
								</p>

								<p _ngcontent-c22="">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="color:#000000;">
										<strong _ngcontent-c22="">
											<span _ngcontent-c22="" style="font-style: normal;">Article 8&nbsp; - Cookies</span>
										</strong>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="color:#000000;">
										<span _ngcontent-c22="" style="font-style: normal; text-align: start;">Le site
										</span>
									</span>
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="font-style: normal;">
											<span _ngcontent-c22="" class="boiler-field">Yadelair.fr</span>
										</span>
									</span>
									<span _ngcontent-c22="" style="color:#000000;">
										<span _ngcontent-c22="" style="font-style: normal; text-align: start;">&nbsp;peut collecter automatiquement des informations standards. Toutes les informations collectées indirectement ne seront utilisées que pour suivre le volume, le type et la configuration du trafic utilisant ce site, pour en développer la conception et l'agencement et à d'autres fins administratives et de planification et plus généralement pour améliorer le service que nous vous offrons.</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="">
										<strong _ngcontent-c22="">
											<span _ngcontent-c22="" style="font-style: normal;">Article 9&nbsp;- Loi applicable</span>
										</strong>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="">
										<span _ngcontent-c22="" style="font-style: normal;">Les présentes conditions générales d'utilisation sont soumises à l'application du droit français.
										</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" lang="EN-US" style="">
										<span _ngcontent-c22="" style="">Si les parties n'arrivent pas à résoudre un&nbsp;litige&nbsp;à l'amiable, le litige sera soumis à la compétence des tribunaux français.</span>
									</span>
								</p>

								<p _ngcontent-c22="" dir="ltr">&nbsp;</p>

								<p _ngcontent-c22="" dir="ltr">
									<span _ngcontent-c22="" style="font-size:14px;"></div>
								</p>
							</div>
						</boilerplate>
					</div>
				</div>
			</div>

		{% endblock %}
